.bg-menu {
    background-color: rgb(228, 124, 159);
}

p{
    background-color:rgb(194, 86, 122);
    text-align: center;
    text-transform: uppercase;
        
}
h1{
    background-color: rgb(180, 180, 111);
    text-align: center;
}